@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Oswald:wght@200;300;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background: rgb(59, 89, 152);
  background: linear-gradient(
    180deg,
    rgba(59, 89, 152, 1) 50%,
    rgba(26, 28, 32, 1) 100%
  );
  height: 100vh;
}

.reg-text h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: 800;
  color: rgb(29, 31, 33);
}

.formulario label {
  width: 700px;
  max-width: 80%;
  margin: 0 auto;
}
.formulario li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}

.formulario input {
  width: 700px;
  max-width: 80%;
  border: 1px solid grey;
  padding: 5px 10px;
  border-radius: 30px;
  margin: 0 auto;
  background: rgb(29, 31, 33);
  color: aliceblue;
}
input:focus {
  border: 1.5px solid aliceblue;
  margin: 0 auto;
  outline: none;
}

.formulario .btn {
  background: rgb(59, 89, 152);
  align-items: center;
  margin: 0 auto;
  width: 300px;
  border: none;
  color: aliceblue;
  font-weight: 600;
}

.btn:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.formulario .checkbox {
  display: flex;
  flex-direction: column;
  width: 700px;
  max-width: 70%;
  margin: 0 auto;
}

.check label {
  width: 500px;
  font-size: 0.7rem;
}

.check input[type="checkbox"] {
  width: 15px;
}

.cuenta {
  margin: 30px 0;
  text-align: center;
}
.cuenta a {
  text-decoration: none;
  color: #d34b78;
  font-weight: 700;
  padding-left: 10px;
}

input::placeholder {
  color: aliceblue;
}
